@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Lobster&family=Noto+Serif+KR&display=swap');
@import "reset.css";
body {
     font-family: 'Inter', sans-serif;
     font-family: 'Lobster', cursive;
     font-family: 'Noto Serif KR', serif;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     flex-wrap: wrap;
     height:auto;
     padding-left: 30px;
}

img {
     position:fixed;
     top:0px;
     left:0px;
     z-index: -100;
     width:100%;
     height: 100%;
     opacity:80%;
}
#calendar {
     font-size: 100px;
     margin-top:100px;
}
#clock {
     color:rgba(0,0,0,0.7);
     font-size:50px;
     margin-top:10px;
}
#login-form {
     margin: 30px 10px;
     width:100%;
}
#login-form input{
     border:none;
     padding:15px 10px;
     font-size:18px;
     text-align: center;
     opacity: 70%;
}
#login-form input:focus,
#login-form input:hover,
#login-form button:hover {
     opacity: 100%;
}
#login-form button {
     border:none;
     padding:15px;
     font-size:18px;
     text-align: center;
     opacity: 70%;
     margin-left: 10px;
}
#greeting {
     font-size: 60px;
     margin:30px 10px;
     color: white;
     text-shadow: 2px 2px 5px black;
}
#right {
     padding: 30px;
     position: fixed;
     align-self: flex-end;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     width:25%;
     height:100%;
     right:0px;
     top: 0px;
     background-color: white;
     opacity: 80%;
}
#todo-form input {
     border: 2px solid rgb(181, 181, 181);
     padding:15px 0px;
     font-size:18px;
     text-align: center;
     width: 200%;
}
#todo-form input:focus {
     border: 2px solid rgb(146, 177, 234);
}
#todo-list {
     margin-top:20px;
}
#todo-list li {
     margin-top:15px;
}
#todo-list button {
     border: none;
     background-color: none;
     margin-right: 10px;  
}
#todo-list button:hover {
     background-color:rgb(146, 177, 234);
     color:white;
}
#weather {
     position: fixed;
     bottom: 20px;
     right: 20px;
}
#quote{
     position: fixed;
     bottom: 20px;
     left: 20px;
}
#quote span:first-child {
     font-size: 20px;
     display: block;
}
.hidden {
     display: none;
}